/* FONTS */
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* COMMON STYLE */
html{
  box-sizing: border-box;
}
*,
*::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #C7D6E4;
}
.container{
  max-width: 410px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #6A96D8;
  color: #fff;
}
.user-name{
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.user-name::before{
  content: "";
  width: 8px;
  height: 8px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.button-close-window{
  background-image: url("img/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  width: 24px;
  height: 24px;
}

/* Messages */
.messages-container{
  background-color: #fff;
}
.message-day{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #E3EAF0;
}
.message-day::before{
  content: "";
  width: 151px;
  height: 1px;
  background-color: #E3EAF0;
}
.message-day::after{
  content: "";
  width: 151px;
  height: 1px;
  background-color: #E3EAF0;
}
.messages-list{
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #E3EAF0;
}
.message-item{
  display: flex;
  flex-direction: column;
}
.message-item:nth-child(2n){
  align-items: flex-end;
}
.message-item + .message-item{
  margin-top: 22px;
}
.message-text{
  max-width: 272px;
  margin: 0;
  margin-top: 10px;
  padding: 15px;
  color: #000;
  background-color: #E6EDF6;
}
.message-text-blocked{
  background-color: #FFC2C1;
}